body
{
	text-align:center;
}

h1{
  text-align: center;
  font-size: 30px;
}
form{
  text-align:center;
  align-items: center;
  margin 10px;
  padding: 10px;
  border: solid 1px black;
  line-height: 40px;
  background-color: #EEEEFF;

}
h2{
  text-align: center;
  font-size:25px;
  font-style: italic;
}

#sub{
  margin-top: 10px;
}

.ui-autocomplete
{
	 max-height: 130px;
    overflow-y: scroll;
    overflow-x: visible;
}

#radio, #sub
{
	font-size:13px;
}

#choix_act
{
	display:none
}

#maps
{
	width: !important;
	height:500px;
}

table tr td
{
	text-align:center;
}
/* CORENTIN */
 
/* FIN CORENTIN */
